@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');

* {
  font-family: "Outfit", sans-serif;
  font-weight: 800;
}

button {
  cursor: pointer;
}

:root {
  --color-primary: #4a4a4a;
}